{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "printWidth": 160,
  "jsxSingleQuote": true,
  "quoteProps": "consistent"
}
